



<style>
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap')
</style>



body{
    margin: 0;

}

.main_block{
    display: flex;
    margin: auto ;
    justify-content: space-around;
    margin: 0 1.5vw 0 1.5vw;
}

.headers{
    
    width: 95vw; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto ;
    border-radius: 1vw;
}


.one_block{
    display: flex;
    flex-direction: column;

    width: 14vw;
    height: 39vw;

    border-radius: 1vw;
}

.object_div{
    height: 40vw;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-image: url(img/picture-frame-by-a-velvet-armchair.jpg);
    background-repeat: no-repeat ;
    background-size: cover ;
    overflow-y: auto ;
    border-radius: 1vw;

}
.object_div::-webkit-scrollbar{
    display: none;
}

.two_block{
    width: 80vw;

    display: flex;
    border-radius: 1vw;
    box-shadow: inset 0 0 0 3000px rgba(150, 150, 150, 0.1);
    flex-direction: column;

}


.item_buy{
    width: 75vw;
    height: 35vw;
    background: #cbf0f8;
    border-radius: 15px;
    margin: 1vw;
    display: flex;
}


.vi{
    font-size: 10vw;
    border-bottom: 2px solid maroon;
    margin: 0 0 1vw 0;
}

.category_main_item{
    width: auto;
    height: 40vw;
    margin: 0.2vw 0 0.2vw 0;
    box-shadow: inset 0 0 0 3000px rgba(150, 150, 150, 0.192);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;


}

.text_category{
    margin: 0.5 vw;
    font-size: 1.2vw;
}

.description_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.description_item{
    font-family: "Open Sans";

}

.img_divan{
    width:1000px;

}
