<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

</head>
<body>



    <!--Это headers блок-->

    <div class="headers">
        <div class="vi">Vi</div>

    </div>




    <!--Это главный блок-->
    <div class="main_block">

        <div class="div_block_one">
            <!--Внутри этого блока будут находиться названия ввыбора горизантали -->
        <!--Это первый блок-->
        <div class="one_block">



            <!--Внутри этого блока будут находиться объекты ввыбора вертикали-->
            <div class="object_div" name="divan_container_name" id="divan_container">
                <div class="category_main">
                    <div class="category_main_item">
                        <div class="text_category"> <                > </div>
                        <div id="divan" class="text_category" onclick="challenge(this)">диваны</div>
                        <div class="text_category">Кухни</div>
                        <div class="text_category">Матрасы</div>
                        <div class="text_category">Наволчки</div>
                        <div class="text_category">фонтаны</div>
                        <div class="text_category">бананы</div>
                    </div>

                </div>
            </div>
        </div>
        </div>

        <!--Это второй блок-->
        <div class="two_block" id="two_block">
            {% for i in divan %}
            <div class="item_buy" id="item_buy_id" name="item_buy_name">
                <img class="img_divan" src="media/{{ i.image }}">
                <div class="description_container">
                    <div class="description_item">Коллекция Ника</div>
                    <div class="description_item">страна Китай</div>
                    <div class="description_item">Ширина 105 см</div>
                    <div class="description_item">высота 205 см</div>
                    <div class="description_item">Вращающийся стул с подлокотниками вынесет уровень комфорта за обеденным столом на новый уровень. Мягкое сиденье и спинка, плавно переходящая в подлокотники,</div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>


    <script src="{% static 'js/js.js' %}"></script>



</body>
</html>