<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

</head>
<body>



    <!--Это headers блок-->

    <div class="headers">

    </div>
    <div class="categories">
        <div class="categories_content">
            <div class="categories_item"> <div class="text"> Диван </div> </div>
            <div class="categories_item"><div class="text"> Кровати </div> </div>
            <div class="categories_item"><div class="text"> Шкафы </div> </div>
            <div class="categories_item"><div class="text"> Мебель </div> </div>
            <div class="categories_item"><div class="text"> Диван </div> </div>
        </div>
    </div>



    <!--Это главный блок-->
    <div class="main_block">

        <div class="div_block_one">
            <!--Внутри этого блока будут находиться названия ввыбора горизантали -->
        <!--Это первый блок-->
        <div class="one_block">



            <!--Внутри этого блока будут находиться объекты ввыбора вертикали-->
            <div class="object_div" name="divan_container_name" id="divan_container">
                {% for i in divan %}

                <div name="divan" class="object" style="" id="divan"><img class="img_scroll" src="/media/{{ i.image }}" ></div>
                {% endfor %}
            </div>
        </div>
        </div>

        <!--Это второй блок-->
        <div class="two_block">
            <div id="divan_foto_container" class="bacgraund">
                <div class="text_box">
                    <div class="text">цвет: жёлтый</div>
                    <div class="text">вес: 15 кг</div>
                    <div class="text">ширина: 300см</div>
                    <div class="text">высота: 500см</div>
                    <div class="text">Внутренний наполнитель: синтепух; спанбонд</div>
                    <div class="text">Стирка: машинная; ручная</div>
                </div>
                <div class="img_container"><img id="img_foto" class="img_foto" src=""></div>

            </div>
        </div>
    </div>


    <script src="{% static 'js/js.js' %}"></script>



</body>
</html>